@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --body  :  #1a1b20;
  --primary: #4f46e5;
  --secondary: #c6d0d1ee;
  --text-color: rgb(240, 243, 247);
  --text-hover:  #36d406;
}

.dark {
  --body  :  #1a1b20;
  --primary: #323361;
  --secondary: #0ea5e9;
  --text-color: #f9fafb;
   --text-hover:  #d47b06;
}



@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.animate-gradient {
  animation: gradientMove 3s ease infinite alternate;
}

.app {
    background :linear-gradient(black,rgba(11, 11, 49, 0.771), rgba(0, 0, 0, 0.935)), url('/src/assets/ode.gif')
}